[submodule "microdep"]
	path = microdep
	url = git@gitlab.sikt.no:iou/microdep.git
[submodule "perfsonar-testpoint-docker"]
	path = perfsonar-testpoint-docker
	url = https://github.com/perfsonar/perfsonar-testpoint-docker.git
