[submodule "microdep"]
	path = dev/microdep
	url = git@gitlab.sikt.no:iou/microdep.git
[submodule "perfsonar-testpoint-docker"]
	path = dev/perfsonar-testpoint-docker
	url = https://github.com/perfsonar/perfsonar-testpoint-docker.git
[submodule "pstracetree"]
	path = dev/pstracetree
	url = git@github.com:perfsonar/pstracetree.git
[submodule "routingmonitor"]
	path = dev/routingmonitor
	url = git@gitlab.sikt.no:iou/routingmonitor.git

	
[submodule "pscheduler"]
	path = dev/pscheduler
	url = git@github.com:perfsonar/pscheduler.git
[submodule "owamp"]
	path = dev/owamp
	url = git@github.com:perfsonar/owamp
