[submodule "microdep"]
	path = microdep
	url = git@gitlab.sikt.no:iou/microdep.git
[submodule "perfsonar-testpoint-docker"]
	path = perfsonar-testpoint-docker
	url = https://github.com/perfsonar/perfsonar-testpoint-docker.git
[submodule "pstracetree"]
	path = pstracetree
	url = git@github.com:perfsonar/pstracetree.git
[submodule "routingmonitor"]
	path = routingmonitor
	url = git@gitlab.sikt.no:iou/routingmonitor.git

	
[submodule "pscheduler"]
	path = pscheduler
	url = git@github.com:perfsonar/pscheduler.git
[submodule "owamp"]
	path = owamp
	url = git@github.com:perfsonar/owamp
