Source: perfsonar-microdep
Architecture: all
Section: misc
Priority: optional
Maintainer: perfSONAR developers <debian@perfsonar.net>
Uploaders: Otto J Wittner <otto.wittner@sikt.no>
Build-Depends: debhelper (>= 10),
 perl,
 libwww-perl,
 libjson-perl,
 libdbi-perl,
 libdbd-sqlite3-perl,
 postgresql,
 curl
Standards-Version: 4.7.0.0
Homepage: http://www.perfsonar.net
Vcs-Git: https://github.com/perfsonar/microdep.git

Package: perfsonar-microdep-ana
Architecture: all
Depends: ${misc:Depends}, ${perl:Depends},
## gap-ana
# libperl, perl-base, perl-modules, Getopt::Long, POSIX, Time::Local, Data:Dumper, constant, sigtrap,  
 libsocket-perl,
 libstatistics-linefit-perl,
 libstatistics-basic-perl,
# LWP::Simple
 libwww-perl,
 libanyevent-rabbitmq-perl,
 liburi-perl,
 libjson-perl,
 libchart-clicker-perl,
## trace-ana 
 postgresql,
 python3-geoip2,
 python3-isodate,
 python3-mysqldb,
 python3-pika,
 python3-psycopg2,
 python3-yaml,
# pytz
 python3-tz,
 python3-tzlocal,
 perfsonar-microdep-enrichdbs,
 perfsonar-microdep-utils
#Recommends: rabbitmq-server
Description: Microdep analytic toolset to analize perfSONAR datasets
 Analytic scripts to process perfSONAR data sets and generate events. Events may be viualized by Microdep map.

Package: perfsonar-microdep-archive
Architecture: all
Depends:
 perfsonar-raw-data,
 perfsonar-microdep-logstash,
 perfsonar-microdep-utils
#Recommends: perfsonar-archive
Description: Microdep Analysis for perfSONAR archive
 A package collection required to prepare for archiving of Microdep Analytics on a perfSONAR archive installation.

Package: perfsonar-microdep-enrichdbs
Architecture: all
Description: Enrichment databases for Microdep (geoip etc.)
 Databases used to enrich Microdep datasets. Currently ships MaxMind GeoLite2 (AS number, city and country geolocation); a container for future enrichment data sources.

Package: perfsonar-microdep-logstash
Architecture: all
Depends: ${misc:Depends},
 curl,
 logrotate
#Recommends: perfsonar-archive
Description: Logstash pipeline for archiving Microdep analytic events
 Logstash pipeline for archiving events generated by analytic tools in perfSONAR add-on Microdep.

Package: perfsonar-microdep-map
Architecture: all
Depends: ${misc:Depends}, ${perl:Depends},
 apache2,
# libperl, perl-base, perl-modules, Getopt::Long, POSIX, Time::Local, Data:dumper 
 perl,
 libcgi-pm-perl, 
 libdbi-perl,
 libdbd-sqlite3-perl,
 libjson-perl,
 libwww-perl,
 libsocket-perl,
 liburi-perl,
 libyaml-perl,
 libhash-merge-simple-perl,
 libjs-jquery,
 libjs-jquery-ui,
 libjs-jquery-datatables,
 libjs-chart.js,
 libjs-chart.js-adapter-moment,
 libjs-chart.js-plugin-zoom,
 libjs-d3 (>= 4),
 libjs-geodesy,
 libjs-hammer, 
 libjs-leaflet,
 libjs-leaflet-contextmenu,
 libjs-leaflet-markercluster,
 libjs-leaflet-curve,
 libjs-leaflet-utm,
 libjs-moment, 
 libjs-select2.js,
 libjs-sorttable,
 libjs-vis,
 perfsonar-microdep-enrichdbs
Description: Microdep map web GUI presenting analytic results
 Web GUI presenting Microdep analytic results in a map view

Package: perfsonar-microdep-toolkit
Architecture: all
Depends:
 perfsonar-microdep-map,
 perfsonar-microdep-ana,
 perfsonar-microdep-archive
#Recommends: perfsonar-toolkit
Description: Microdep Analysis for perfSONAR toolkit
 Package collection required for Microdep Analytics to be operatinal on a perfSONAR toolkit installation

Package: perfsonar-microdep-utils
Architecture: all
Depends: ${misc:Depends}, ${perl:Depends},
 libjson-perl,
 python3-pika
Description: Utilities for Microdep analytic work
 A collection of handy utilities to apply when working with Microdep analytic data-sets.
