[Unit]
Description=perfSONAR Microdep traceroute analysis
After=network.target postgresql.service
Requires=postgresql.service

[Service]
Type=simple
User=perfsonar
Group=perfsonar
# Run analysis for both ipv4 and ipv6
ExecStart=/bin/bash -c '\
  /usr/lib/perfsonar/bin/microdep_commands/trace_event_reader.py --config /etc/perfsonar/microdep/microdep-trace-ana.yml &\
  /usr/lib/perfsonar/bin/microdep_commands/trace_event_reader.py --config /etc/perfsonar/microdep/microdep-trace-ana.yml --ipv6 -O /var/lib/logstash/microdep/trace-ana-6.json &\
  wait \
'
Restart=on-failure

[Install]
WantedBy=multi-user.target

