[Unit]
Description=perfSONAR Microdep Gap analysis
After=network.target rabbitmq-server.service
Requires=rabbitmq-server.service

[Service]
Type=simple
ExecStart=/usr/local/bin/qstream-gap-ana -minloss 5 -head -win 50 -jitter 600 -rtp 5 -addresses /usr/lib/perfsonar/microdep/mp-dragonlab/etc/mp-address.txt -owamp amqp:// -json /var/lib/logstash/microdep/gap-ana.json

[Install]
WantedBy=multi-user.target
