[Unit]
Description=perfSONAR Microdep Gap analysis
After=network.target rabbitmq-server.service
Requires=rabbitmq-server.service

[Service]
Type=simple
User=perfsonar
Group=perfsonar
ExecStart=/usr/lib/perfsonar/bin/microdep_commands/qstream-gap-ana -minloss 5 -head -win 50 -jitter 600 -rtp 5 -owamp amqp:// -json /var/lib/logstash/microdep/gap-ana.json -topoevents 
Restart=on-failure

[Install]
WantedBy=multi-user.target
